client_secret_742596803459-50ph5dvmss15ttja2p0eerbv3ffbpsd1.apps.googleusercontent.com.json
/entorno
__pycache__/
*.ipynb_checkpoints
api-mercado-publico-2180c2016c7d.json
api-mercado-publico-2180c2016c7d.json:Zone.Identifier
token.txt