client_secret_742596803459-50ph5dvmss15ttja2p0eerbv3ffbpsd1.apps.googleusercontent.com.json
/entorno
__pycache__/
*.ipynb_checkpoints
api-mercado-publico-f87966d2dfce.json
api-mercado-publico-f87966d2dfce.json:Zone.Identifier
token.txt
.env
/chromedriver_folder
chromedriver.zip